@import "@/index.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  min-height: 100vh;
  background-color: #FBFBFB;
  font-family: $workSans;
  width: calc(90% - 250px);
  margin-left: 250px;

  @include Tablet {
    margin-left: 0;
    width: 90%;
  }


  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: $bluePrimary;
  }
}
