@import "@/index.scss";

.container {
  height: 100%;
  width: 100%;
  background-color: white;
  margin-top: 2rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-family: $workSans;
  font-size: 14px;
  color: #545f7d;
  margin-bottom: 2rem;
  background-color: #f2f2f2;


  thead {
    border-bottom: 1px solid #ddd;
    tr {
      th {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: $textPrimary;
        padding: 15px 20px;
        text-align: left;
        min-width: 120px;

        span {
          vertical-align: middle;
          margin-left: 1%;
          cursor: pointer;

          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  tbody {
    background-color: white;

    tr {
      border-bottom: 1px solid #ddd;
      td {
        padding: 15px 20px;
        text-align: left;
        vertical-align: middle;
        font-size: 14px;
        line-height: 16px;
        color: $textPrimary;
        font-weight: 400;
        font-family: $workSans;
        border-bottom: 1px solid #ddd;
        min-width: fit-content;

        img {
          cursor: pointer;
        }
      }
    }
  }
}

.dropdown {
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  min-width: max-content;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0.7rem 2rem;
      cursor: pointer;
      vertical-align: middle;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      img {
        vertical-align: middle;
        margin-right: 0.5rem;
      }

      span {
        vertical-align: middle;
      }

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}