@import "@/index.scss";

.container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  font-family: $workSans;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 20px;
  }

  ul {
    list-style: none;
  }
}

.blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $textPrimary;
    margin-left: 1rem;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $bluePrimary;

      margin: 0;
      padding: 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        background-color: $greenPrimary;
        //   opacity: 0.06;
      }

      // &:active {
      //   background-color: $greenPrimary;
      //   //   opacity: 0.06;
      // }

      // &:active::before {
      //   content: "";
      //   width: 8px;
      //   height: 100%;
      //   background: $greenPrimary;
      // }

      span {
        display: flex;
        align-items: center;
        margin-right: 1rem;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $textPrimary; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bluePrimary; 
}